<div class="row">
    <div class="col-2">
        <MudCheckBox @bind-Checked="@isChecked" Color="Color.Primary"></MudCheckBox>
    </div>
    <div class="col-10">
        <MudTextField @bind-Value="text" T="string" Label="Lehetőség szövege" Variant="Variant.Outlined"/>
    </div>
</div>

@code
{
    public bool isChecked { get; set; }
    public string text { get; set; }
}