@page "/QuestionEditor"

@inject NavigationManager navigationManager

<QuestionBank></QuestionBank>
<div class="d-flex align-center justify-space-between mt-6">
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Class="mt-5" OnClick="() => Navigate()" />
</div>

@code{
    void Navigate()
    {
        navigationManager.NavigateTo("/questions/newQuestion");
    }
}