@inherits LayoutComponentBase

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div class="page">
        <MudLayout>
            <MudAppBar Elevation="1" Dense="true" Class="teal darken-1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <MudAppBarSpacer />
                <UserStatus />
            </MudAppBar>
            <MudDrawer @bind-Open="@open" ClipMode="DrawerClipMode.Docked" Elevation="1" Variant="@DrawerVariant.Responsive">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">Kertesz Project</MudText>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudNavLink Href="/users" Match="NavLinkMatch.All">Users</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All">Dummy</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All">Also Dummy</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <MudMainContent Class="pt-16 px-16">
                <MudContainer Class="mt-6">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
        @code{
            bool open = true;

            void ToggleDrawer()
            {
                open = !open;
            }
        }

        @*<div class="main">
            <div class="top-row px-4">
                <UserStatus />
            </div>

            <div class="content px-4">
                
            </div>
        </div>*@
    </div>
